{% extends 'head_template.html' %}

{% block js_head %}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2> Game: {{ gameid }} | Group: {{ groupname }}</h2>
        <h3> Scenario: {{ typename }}</h3>
        {% block content %}
                {{ plot_div|indent(4)|safe }}

            <p> Week {{ stage|int - 1 }}: <strong> {{ sales }} customers </strong> (out of {{ ncust }} that showed up) purchased.</p>
        <p> Total revenue up to week {{ stage|int - 1 }} = {{ revenue }}</p>
        {% endblock %}
    </div>

    <div class="container">
    {% block form %}
        <h2>Week {{ stage }} </h2>
        {% if has_inv %}
            Your current inventory is {{ inv }}. <br>
            {% if inv|int == 0 %}
                Since you ran out of inventory, you will not be able to sell during the remaining weeks. <br>
            {% endif %}
        {% endif %}

        {% if not valuetype == 'full' %}
            <p> This week, incoming customers have a {{ valuetype }} valuation.</p>
        {% endif %}

        <p>Enter the price for this week.</p>
        <form action="" method="post">
            <input type="hidden" value="{{ gameid }}" name="gameid" />
            <input type="hidden" value="{{ groupname }}" name="groupname" />
             <input type="hidden" value="{{ stage }}" name="stage" />
            {% if has_inv %}
                <input type="hidden" value="{{ inv }}" name="inv" />
            {% endif %}
             <input type="hidden" value="{{ price_hist }}" name="price_hist" />
             Price: <input type="number" name="price" required>
             <input type="submit" value="Submit price">
         </form>

    {% endblock %}

{% endblock %}
