{% extends "base.html" %}

{% block form %}
<h2>End of game scenario <strong>{{ typename }} </strong></h2>
{% if has_inv %}
Your ending inventory is {{ inv }}. <br>
{% endif %}

{{ cumsales }} customers purchased.
Your total revenue was {{ revenue }}.

<form action= {{ url_for("send_results", gametype= gametype) }} method="post">
     <input type="hidden" value="{{ price_hist }}" name="price_hist" />
     <input type="hidden" value="{{ gameid }}" name="gameid" />
     <input type="hidden" value= "{{ groupname }}" name="groupname" required>
     <input type="submit" value="Submit results">
 </form>
{% endblock %}