<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>{% block title %}Valuation Game{% endblock %}</title>

    {% block js_head %}
    {% endblock %}
  </head>

<body>
<header>
  <img class="header-logo" src="{{ url_for('static', filename='images/logo-fen.png') }}" alt="FEN UChile">
  <h1 class="logo">Valuation Game</h1>
</header>

{% block body %}

{% endblock %}

</body>
</html>
